<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Students</title>
</head>
<body>
  <h1>Hogwarts Students</h1>
  <a href="/students/new">New Student</a><br><br>
<nav>

</nav>
  <%= yield %>
</body>
</html>
